# Stinky editor garbage
.vscode/

# Build system files
autom4te.cache/
iota/.deps/
iota/syslog/.deps
iota/syslog/.dirstamp
*Makefile
aclocal.m4
config.log
config.status
configure~
stamp-h1
iota/config.h

# Objects
*.o
iota/iota
